**/.dockerignore
**/.env
**/.env.*
!Frontend/lexica-next-front/env-config/.env.production
**/certificates
**/*.pfx
**/*.p12
**/compose*.yaml
**/compose*.yml
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
artifacts/
