[data-autofocus]:focus {
  outline: 2px solid var(--mantine-primary-color-filled);
  outline-offset: 2px;
}
.mantine-focus-auto:focus {
  outline: 2px solid var(--mantine-primary-color-filled);
  outline-offset: 2px;
}
