{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "requirePragma": false,
  "proseWrap": "always",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    ".*styles.css$",
    "",
    "dayjs",
    "^react$",
    "^next$",
    "^next/.*$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@mantine/(.*)$",
    "^@mantinex/(.*)$",
    "^@mantine-tests/(.*)$",
    "^@docs/(.*)$",
    "^@/.*$",
    "^../(?!.*.css$).*$",
    "^./(?!.*.css$).*$",
    "\\.css$"
  ]
}
